.sidebar{
    /* width: 178px; */
    /* max-width: auto; */
    width: auto;
    height: 100vh;
    background-color: #393a3d;
    font-family:'notosans-regular';
    font-size: 13px;
    position: relative;
    transition: all .2s ease;
}

/* Sidebar header */
.sidebar-header{
    width: 100%;
    height: 48px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.sidebar-menu-icon{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -422px -87px;
	width: 24px;
	height: 24px;
    margin-right: 10px;
}

.sidebar-logo{
    height: 32px;
}

.sidebar-logo .img-logo{
    height: 32px;
    display: block;
}

/*Sidebar list*/
.sidebar-list-item{
    width: 100%;
    height: calc(100vh - 48px);
    padding-top: 14px;
    /* padding-right: 16px; */
    overflow:auto;
}

.item-title{
    color: #fff !important;
    text-decoration: none !important;
}

.sidebar-item{
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 16px;
    padding-right: 14px;
}

.sidebar-item:hover{
    background-color: #5d5d61;
}

.item-icon{
    width: 24px;
	height: 42px;
    align-items: center;
    margin-right: 8px;
}
.icon{
    width: 24px;
	height: 24px;
}
.dash-board{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -33px -1630px;	
}
.money{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -78px -1631px;
}
.deposits{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat  -121px -1633px;
}
.purchase{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -164px -1629px;
}
.sell{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -206px -1629px;
}
.bill{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -251px -1630px;
}
.warehouse{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -294px -1632px;
}
.tools{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -339px -1633px;
}
.asset{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -382px -1632px;
}
.tax{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -427px -1632px;
}
.price{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -471px -1631px;
}
.total{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -514px -1629px;
}
.budget{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -382px -1660px;
}
.report{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -552px -1631px;
}
.financial{
    background: url('../../assets/Resource/img/Sprites.64af8f61.svg') no-repeat -207px -1663px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}
::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}